<div class="articles">
        <ol>
            <!-- Each iteration will display a single article's block -->
            {% for article in articles_page.object_list %}
            <li>
                <article>

                    <header>
                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <h2>{{ article.title }}</h2>
                    </a>
                    </header>

                    {% if article.date %}
                    <footer>
                    <p>{{ article.date | strftime("%d %B %Y") }}</p>
                    </footer>
                    {% endif %}

                    <div class="tags">
                        <ul class="tags">
                        {% for tag in article.tags | sort %}
                            <li><a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag.name | replace('_', ' ') }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>

                    <div class="summary">{{ article.summary }}</div>

                    <a href="{{ SITEURL }}/{{ article.url }}">
                        <p class="readmore">Read more...</p>
                    </a>
                </article>
            </li>
            {% endfor %}
        </ol>

        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
        
</div>
