{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% if article.description %}
    <meta name="description" content="{{ article.description }}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

<!-- Twitter tags -->
{% block twittercard %}
{% if article.cover_image %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ SITEURL }}/images/{{ article.cover_image }}">
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
{% elif GRAVATAR %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ GRAVATAR }}">
{% elif LOGO %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ SITEURL }}/images/{{ LOGO }}">
{% endif %}
<meta name="twitter:site" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:title" content="{{ article.title }}">
<meta name="twitter:description" content="{{ article.description }}">
{% endblock twittercard %}

<!-- OG Tags -->
{% block ogtags %}
<meta property="og:url" content="{{ SITEURL }}/{{ article.url }}"/>
<meta property="og:title" content="{{ SITENAME }} | {{ article.title }}" />
<meta property="og:description" content="{{ article.description }}" />
{% if article.cover_image %}
<meta property="og:image" content="{{ SITEURL }}/images/{{ article.cover_image }}" />
{% elif SITEIMAGE %}
<meta property="og:image" content="{{ SITEURL }}/images/{{ SITEIMAGE }}" />
{% elif LOGO %}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ SITEURL }}/images/{{ LOGO }}">
{% elif GRAVATAR %}
<meta name="twitter:image" content="{{ GRAVATAR }}">
{% endif %}
{% endblock ogtags %}

{% block content %}
  <div class="article" role="article">
    <article>

        <header>
          <h2>
          {{ article.title }}
          </h2>
        </header>

      {% if article.date %}
        <footer>
        <time datetime=" {{ article.date }}">
        <script>document.write(moment('{{ article.date }}').format('D MMMM YYYY'));</script>
        </time>
        </footer>
      {% endif %}

      <div class="tags">
          {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag.name }}</a>
          {% endfor %}
      </div>

      <div class="content">
         {{ article.content|safe }}
      </div>

      <div class="back-to-top">
          <a href="#top">back to top</a>
      </div>
    </article>
  </div>
<!-- end article -->
{% endblock content %}
