<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />
        <link rel="author" href="/humans.txt" />
        <link rel="meta" type="application/rdf+xml" title="FOAF"
            href="/foaf.rdf" />

        <!-- Self-Auth -->
        <link rel="authorization_endpoint"
            href="https://drwho.virtadpt.net/selfauth/" />

        <!-- Verifying my hackers.town account  -->
        <link rel="me" href="https://hackers.town/@drwho" />

        <!-- Feeds -->
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="Atom feed" />
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_RSS_URL %}{{ FEED_ALL_RSS_URL }}{% else %}{{ FEED_ALL_RSS }}{% endif %}" type="application/rss+xml" rel="alternate" title="RSS feed" />

        <!-- Primary metatags -->
        <meta name="title" content="Antarctica Starts Here.">
        <meta name="description" content="The personal homepage of The Doctor.">

        <!-- Twitter -->
        {% block twittercard %}
        {% endblock twittercard %}

        <!-- Opengraph / Facebook -->
        {% block ogtags %}
        {% endblock ogtags %}

        <!-- favicon.ico stuff. -->
        <link rel="manifest" href="/favicons/manifest.json">
        <link rel="apple-touch-icon" sizes="57x57"
            href="/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60"
            href="/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72"
            href="/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76"
            href="/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114"
            href="/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120"
            href="/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144"
            href="/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152"
            href="/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180"
            href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"
            href="/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32"
            href="/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96"
            href="/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16"
            href="/favicons/favicon-16x16.png">
        <meta name="msapplication-TileColor"
            content="#ffffff">
        <meta name="msapplication-TileImage"
            content="/favicons/ms-icon-144x144.png">

        <!-- css -->
        <link rel="stylesheet" type="text/css"
            href="{{ SITEURL }}/theme/css/main.css" />

        <!-- A bit of JavaScript to make the mobile menu work -->
        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", initMenu);
            
        function initMenu(){
            var menu = document.getElementById("menu");
            var menulink = document.getElementById("menu-link");
            menulink.addEventListener("click", function toggleMenu(){
                window.event.preventDefault();
                menulink.classList.toggle('active');
                menu.classList.toggle('active');              
            });
        };
        </script>

        {% endblock head %}
</head>

<body>
    {% block header %}
    <div role="banner" id="masthead">
        <header>
            <center>
            {% if GRAVATAR %}
            <a href="/"><img src="{{ GRAVATAR }}"
                alt="The Doctor's current avatar." class="gravatar"></a>
            {% elif LOGO %}
            <a href="/"><img src="{{ SITEURL }}/images/{{ LOGO }}"
                alt="Virtual Adepts insignia"></a>
            {% endif %}
            </center>

            <br />

            <h1><a href="/" id="sitename">{{ SITENAME }}</a></h1>

            <a href="#menu" id="menu-link">
				<img src="/theme/css/png/menu.png"
				alt="The Fork Awesome hamburger menu icon for the mobile menu.">
			</a>
            <nav id="menu">
                <ul>
                <li><a href="/page/about-me">About me.</a></li>
                <li><a href="/page/about-this-site">About this site</a></li>
                <li><a href="/drwho.plan">.plan file</a></li>
                <li><a href="https://ko-fi.com/virtadpt">Coffee?</a></li>
                <li><a href="/page/social">Social</a></li>
                <li><a href="/page/people">People</a></li>
                <li><a href="/page/stuff-i-like">Links</a></li>
                <li><a href="/page/site">Miscellanea</a></li>
                <li><a href="/page/syndication">Syndication</a></li>
                <li><a href="/tags.html">Tags</a></li>
                </ul>

                <hr>

                <ul>
                <li><a href="/page/turtles-all-the-way-down">Turtles All the Way Down</a></li>
                <li><a href="/page/everything-i-need-to-know-in-life-i-learned-from-reading-william-gibson-novels">Everything I Need to Know In Life, I Learned from Reading William Gibson Novels</a></li>
                <li><a href="/page/laws">The Laws of the Twenty-First Century</a></li>
                <li><a href="/page/exocortex">Exocortex Resources</a></li>
                <li><a href="/page/a-friendly-introduction-to-the-fediverse">A Friendly Introduction to the Fediverse</a></li>
                <li><a href="/page/getting-narcan">Getting Narcan</a></li>
                <li><a href="/page/reproductive-healthcare-chemistry">Reproductive Healthcare Chemistry</a></li>
                </ul>

                <hr>

                <ul>
                <li><a href="">Necrology</a></li>
                <li><a href="/page/edward-c-grejda-rip">Edward C. Grejda</a></li>
                <li><a href="/page/helen-wendel-rip">Helen Wendel</a></li>
                <li><a href="http://crusher.parad.net/">Crusher [412/724]</a></li>
                <li><a href="/page/kevin-gallagher-rip">Kevin Gallagher</a></li>
                <li><a href="/page/nancy-a-grejda-rip">Nancy A. Grejda</a></li>
                </ul>

                <hr>

                <center>
                <a href="https://fediring.net/previous?host=drwho.virtadpt.net">←</a>
                <a href="https://fediring.net/">Fediring</a>
                <a href="https://fediring.net/next?host=drwho.virtadpt.net">→</a>
                </center>

                <hr>

                <center>
                <a href="https://webring.dinhe.net/prev/https://drwho.virtadpt.net/">←</a>
                <a href="https://webring.dinhe.net/">Retronaut?</a>
                <a href="https://webring.dinhe.net/next/https://drwho.virtadpt.net/">→</a>
                </center>

                <hr>

                <center>
                <a href="https://webring.yesterweb.org/noJS/index.php?d=prev&url=https://drwho.virtadpt.net/">←</a>
                <a href="https://webring.yesterweb.org/">Yesterweb</a>
                <a href="https://webring.yesterweb.org/noJS/index.php?d=next&url=https://drwho.virtadpt.net/">→</a>
                </center>

                <hr>

                <!-- Search -->
                <center>
                <section class="box search">
                <form method="get" accept-charset="UTF-8" target="_blank"
                    action="https://heterochromia.virtadpt.net/yacysearch.html">
                <div style="padding: 0.0em; -webkit-border-radius: 0.2em;
                    -moz-border-radius: 0.2em; border-radius: 0.2em;
                    margin: 0;">
                <label for="query" style="padding: 0.8em; font-size: 1.2em;
                    font-weight: 400; display: block;">Search my site?</label>
                <input type="text" name="query" value="" maxlength="100"
                    style="width:225px; border-radius: 0.2em;" />
                <input type="hidden" name="verify" value="cacheonly" />
                <input type="hidden" name="maximumRecords" value="20" />
                <input type="hidden" name="meanCount" value="5" />
                <input type="hidden" name="resource" value="local" />
                <input type="hidden" name="urlmaskfilter" value=".*" />
                <input type="hidden" name="prefermaskfilter" value="" />
                <input type="hidden" name="display" value="2" />
                <input type="hidden" name="nav" value="all" />
                </div>
                </form>
                </section>
                </center>
                <!-- End of Search -->

                <br /><hr>

            </nav>
        </header>
    </div>
    {% endblock header %}

    <div class="page" role="main">
        {% block content %}
        {% endblock content %}

        {% block footer %}
        <footer>
        <p>© {{ AUTHOR }}</p>

        {% if ATTRIBUTION %} 
        <p>Pelican Theme: <a href="https://github.com/mc-buckets/brutalist">Brutalist</a></p>
        <p>Designed and built by <a href="http://twitter.com/mcman_s">@mcman_s</a> in Denver</p>
        {% endif %}

        </footer>
        {% endblock footer %}
    </div>
</body>

<script src="{{ SITEURL }}/theme/js/konami.js"></script>
<script>
    window.NekoNoDefault = true;
</script>
<script src="https://webneko.net/n20171213.js"></script>
<script type="text/javascript">
    var kitteh = new Konami(function() {
        startANeko()
    });
</script>

</html>
