{% extends 'base.html' %}

<!-- Opengraph tags -->
{% block ogtags %}
        <meta property="og:url" content="{{ SITEURL }}"/>
        <meta property="og:title" content="{{ SITENAME }}" />
        <meta property="og:description" content="The personal homepage of the Doctor." />
        <meta property="og:locale" content="en-US" />
{% if SITEIMAGE %}
        <meta property="og:image" content="{{ SITEURL }}/images/{{ SITEIMAGE }}" />
{% elif LOGO %}
        <meta property="og:image" content="{{ SITEURL }}/images/{{ LOGO }}" />
{% endif %}
{% endblock ogtags %}

<!-- Site content -->
{% block content %}
{% include 'article_list.html' %}
{% endblock content %}

